<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
     
      <span>Voiro</span>
       <span class="spacer"></span>
       <button mat-button 
              (click)="openDialog()"
               class="example-icon favorite-icon" 
               aria-label="icon-button with upload icon">
              <mat-icon>file_upload</mat-icon>Upload
  </button>
    </mat-toolbar>  
    <!-- Add Content Here -->
  

  </mat-sidenav-content>
</mat-sidenav-container>
