
.content {
    padding: 16px;
}

.content > mat-card {
    width: 180px;

}
.mat-card{
  //height:130px;
}

.mat-card-actions{
  justify-content: center;
  align-content: center;
  text-align: center;
}

