<div class="content">
<div fxLayout="row wrap" fxLayoutGap="16px grid" fxFlexAlign="stretch" *ngIf="display">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let image of imageList | async">
    <mat-card class="mat-elevation-z4" >
       
      <mat-card-content >
     
          <h3
          #tooltip="matTooltip"
          matTooltip="{{image.title}}"
          matTooltipHideDelay="100000" 
          matTooltipHideDelay="1000"
          >{{image.title}}</h3>
    
      </mat-card-content>
    </mat-card>

   
    

  </div>

  </div>


  <div>
    <mat-card class="mat-elevation-z4" *ngIf="!display">

         <mat-card-content >
           <h1>No Images Uploaded.</h1>
         </mat-card-content>
    </mat-card>
  </div>
</div>