.grid-container {
 // margin: 100px;
  margin-top: 60px;
  //height: 100% !important;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.content {
    padding: 16px;
}
.content > mat-card {
    margin-bottom: 16px;
}
.photo-card {
    width: 300px;

}


.mat-card-actions{
  justify-content: center;
  align-content: center;
  text-align: center;
}
.mat-card-image{
  //width:365px;
}
.header-image{
 background-size: cover;
}
.dashboard-card {
  position: absolute;
  width:99%;
  top: 20px;  
  left: 8px;
  right: 8px;
  bottom: 15px;
  height: 100% !important;
}

