<div class="grid-container">
  <h1 class="mat-h1">Voiro</h1>
  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile  [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            404 Error
            
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <h1>Page Not Found</h1>
            <h2>Oops. Looks like the page you're looking for no longer exists</h2>
            <h2>But we're here to bring you back to safety</h2>
          </div>
          <a mat-raised-button color="primary" routerLink="/">
        Go Back</a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
