<form [formGroup]="uploadForm">
  <mat-card-header>

  <h2 class="heading">Change Organization Image</h2>

    <span class="close">
  <button mat-button color="primary">Re-upload Image</button>

  <button mat-icon-button color="primary" [mat-dialog-close]="true"  aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>close</mat-icon>
      </button>
    </span>
  </mat-card-header>
<mat-dialog-content class="mat-typography">
           <div>

    <!--<div *ngIf="!files.length" class="col-12 rmpm dropzone" appDrag (files)="filesDropped($event)">
     <div class="text-wrapper">
     <div class="centered">Drop your file here!</div>
  </div>
</div>-->

           
      
    <input type="file" mat-input mat-button color="primary" (change)="fileChangeEvent($event)">

    <!--<div class="container" appDnd (fileDropped)="onFileDropped($event)">
  <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target)" />
  

  <h3>Drag and drop file here</h3>
  <h3>or</h3>
  <label for="fileDropRef">Browse for file</label>
</div>-->
       
     <image-cropper  mat-card-image 
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    [resizeToWidth]="128"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
         
        </div>

        <!--<div class="cropArea" [ngClass]="{'dotted-boarder': !isFileSelected}" (drop)="dropHandler($event)"
    (dragover)="allowDrop($event)">
    <input #imageUpload type="file" accept="image/*" (change)="fileChangeEvent($event)" class="hidden">
    <div *ngIf="!isFileSelected" class="select-btn-div">
      <button class="btn btn-primary"
        (click)="imageUpload.click();">Upload Image</button>
    </div>
  
    <image-cropper #cropper [hidden]="!isFileSelected" [imageChangedEvent]="imageChangedEvent"
      [imageBase64]="droppedImage" (imageLoaded)="imageLoaded()" (imageCropped)="imageCropped($event)"
      [maintainAspectRatio]="true" [resizeToWidth]="350" [roundCropper]="true">
    </image-cropper>
  </div>
      -->

  </mat-dialog-content>
<mat-dialog-actions >
  
  <img class="card-avatar" mat-card-avatar [src]="croppedImage" alt="Cropped Image">
   <span class="button">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="onSave()" cdkFocusInitial>Save Changes</button>
</span>
</mat-dialog-actions>

</form>
