<form [formGroup]="uploadForm">
  <mat-card-header>

  <h2 class="heading">Change Organization Image</h2>

    <span class="close">
  <button mat-button color="primary" (click)="onReset()" *ngIf="imageChangedEvent">Re-upload Image</button>

  <button mat-icon-button color="primary" [mat-dialog-close]="true"  aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>close</mat-icon>
      </button>
    </span>
  </mat-card-header>
<mat-dialog-content class="mat-typography">
          
<div >
 <div class="container" appDnd (change)="onFileDropped($event)" *ngIf="!imageChangedEvent" >
  <!--*ngIf="!isFileSelected">-->
  <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target)" />
  

  <h3>Drag and drop file here</h3>
  <h3>or</h3>
  <label for="fileDropRef">Browse for file</label>
</div>
</div>
       <div *ngIf="imageChangedEvent">
     <image-cropper  mat-card-image
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    [resizeToWidth]="128"
    format="png"
    (imageCropped)="imageCropped($event)">
      </image-cropper>
         </div>
        


  </mat-dialog-content>
<mat-dialog-actions >
  <ng-container *ngIf="imageChangedEvent">
  <img class="card-avatar" mat-card-avatar [src]="croppedImage" alt="Cropped Image" >
</ng-container>
   <span class="button">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="onSave()" cdkFocusInitial>Save Changes</button>
</span>
</mat-dialog-actions>

</form>
